<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238910033570-221c7arlf3ug28qhkl1nj9agqc5fpf8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238910033570-221c7arlf3ug28qhkl1nj9agqc5fpf8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>238910033570-kfvl2jct5dgr8sskca5k99ednt65nipj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDJ24VAWeox-qOTJ10Ccj1C6ok9Xoq8Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>238910033570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hima-ecommorce</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommers</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238910033570:ios:fc7ed11c691560dfa3d1fb</string>
</dict>
</plist>